/* Search form */
.ajs-searchbox {
  margin-bottom: 1rem;
  font-size: 20px;
  padding:.25rem .5rem;
}

/* Search results */
.ajs-result {
  margin-bottom: 1rem;
}
.ajs-result--title {
  font-size: 1.25rem;
  font-weight: bold;
}
.ajs-result--date {
  font-size:0.8rem;
}
.ajs-result--text {
  font-size: 0.9rem;
}

/* Highlighting */
.ajs-highlight {
  font-weight:bold;
}
.ajs-result--title .ajs-highlight {
  background-color: #F6E6DA;
}

