<script>
  window.ALGOLIA_CONFIG = {
    'applicationId': '{{ site.algolia.application_id }}',
    'indexName': '{{ site.algolia.index_name }}',
    'apiKey': '{{ site.algolia.read_only_api_key }}',
    'baseUrl': '{{ site.baseurl }}',
    'searchBoxSelector': '{{ site.algolia.search_box_selector }}',
    'searchResultsSelector': '{{ site.algolia.search_results_selector }}',
    'templateResultSelector': '{{ site.algolia.template_result_selector }}'
  }
</script>
<script class="ajs-template-result" type="text/template">
{% raw %}
  <div class="ajs-result">
    <a class="ajs-result--title" href="{{ url }}">{{{ title }}}</a>
    {{#date}}<div class="ajs-result--date">{{ date }}</div>{{/date}}
    <div class="ajs-result--text">{{{ text }}}</div>
  </div>
{% endraw %}
</script>
<script class="ajs-template-no-results" type="text/template">
</script>
<script src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/algoliasearch/3.6.0/algoliasearch.min.js"></script>
<script src="//cdn.jsdelivr.net/algoliasearch.helper/2.1.0/algoliasearch.helper.min.js"></script>
<script src="//cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.js"></script>
<script src="//cdn.jsdelivr.net/momentjs/2.10.3/moment.min.js"></script>
<script src="{{ site.baseurl }}/public/js/algolia.js"></script>
